* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1 {
    color: rgb(199, 196, 196);
    font-size: 2.9em;
    padding: 20px 0;

}

body {
    
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    


}


/*menu*/
.boton{
    margin: 0%;
    padding: 0%;
    display: flex;
    text-decoration: none;
    justify-content: flex-end;

    flex-direction: row;
    list-style: none;
    font-size: 60%;
    gap: 1rem;
    
}


/*contenido*/
.discografia {
    text-decoration: none;
}

.home {
    text-decoration: none;
}

.Biografia {
    text-decoration: none;
}

.Integrantes {
    text-decoration: none;
}

.fecha {
    text-decoration: none;
}



header {
   
    background-color: #1e272e;
    color: aliceblue;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0%;
    padding: 0%;

}

.logo {
    flex-shrink: 0;
    height: 30px;


}

main {
    display: flex;
    margin: 0%;
    padding: 20px 1px;
    color: #fff;
    font-family: 'Manjari', sans-serif;
    font-size: 12px;
    display: grid;

}

aside {
    
    margin: 0%;
    padding: 20px 1px;

    text-align: center;
}

footer {
    background-color: #1e272e;
    color: rgb(250, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;

}

h2 {
    text-align: center;
}

div {
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.tabla {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;

}
.abrir-menu{ display: none;

}



/*grid*/
.gridcontainer {
    background: #20222a;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(2, 1fr);


}

.gridcontainer .title {
    grid-column: 1/6;
}

.gridcontainer .content {
    grid-column: span 3 padding: 20px;
    border: 1px solid #000000
}

.gridcontainer .asidebar {
    grid-column: span 2;
    background: #44607;
    padding: 20px;
    border: 1px solid #000000
}

.gridcontainer .footer {
    background-color: #1e272e;
    grid-column: 1/6;
    font-size: 10px;

}

.gridcontainer.div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000
}

.content .disco {
    background: #1e272e;
    padding: 20px;
    margin-top: 5px;



}

.asidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botonera{


}



/*media queries*/

@media screen and (max-width: 600px) {
    .abrir-menu{
        display: block;
    }
    

 }
 .body{
    width: 100%;
    aspect-ratio: auto;
 }
   .main {
    width: 100%;
   }
    
